In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [37]:
df = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\covid_19_data.csv')

In [38]:
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])

In [23]:
df['ObservationDate'].max()

Timestamp('2021-05-29 00:00:00')

In [24]:
##    min observation date Jan 22, 2020
##    max observation date May 29, 2021

In [6]:
display(df)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,2021-05-29,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,2021-05-29,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,2021-05-29,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,2021-05-29,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,2021-05-29,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [47]:
df_lat_long_confirmed = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\time_series_covid_19_confirmed.csv')
df_lat_long_deaths = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\time_series_covid_19_deaths.csv')
df_lat_long_recovered = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\time_series_covid_19_recovered.csv')

In [50]:
df_lat_long_confirmed.dropna(subset=['Province/State'],inplace=True)
df_lat_long_deaths.dropna(subset=['Province/State'],inplace=True)
df_lat_long_recovered.dropna(subset=['Province/State'],inplace=True)

In [51]:
frames = [df_lat_long_confirmed, df_lat_long_deaths, df_lat_long_recovered]

df_lat_long = pd.concat(frames)

In [52]:
df_lat_long.groupby('Country/Region')['Province/State'].nunique()

Country/Region
Australia          8
Canada            16
China             34
Denmark            2
France            11
Netherlands        4
United Kingdom    11
Name: Province/State, dtype: int64

In [32]:
df_lat_long['country/province'] = df_lat_long.apply(lambda x: (x['Country/Region'],x['Province/State']), axis=1)

In [42]:
df_lat_long = df_lat_long[['Lat','Long','country/province']].reset_index()
df_lat_long.dropna(how='any',inplace=True)
len(set(df_lat_long['country/province']))

84

In [18]:
contry_ls = set(df['Country/Region'])

In [20]:
len(contry_ls)

229

In [27]:
df['Province/State'].isnull().sum()

78100

In [39]:
df_nonull = df.dropna(how='any')

In [40]:
df_nonull['country/province'] = df_nonull.apply(lambda x: (x['Country/Region'],x['Province/State']), axis=1)

C:\Users\mengh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
df_nonull = df_nonull.merge(df_lat_long,how="left", on=["country/province", "country/province"])

In [41]:
df_nonull.tail()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,country/province
306424,306425,2021-05-29,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0,"(Ukraine, Zaporizhia Oblast)"
306425,306426,2021-05-29,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0,"(Netherlands, Zeeland)"
306426,306427,2021-05-29,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0,"(Mainland China, Zhejiang)"
306427,306428,2021-05-29,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0,"(Ukraine, Zhytomyr Oblast)"
306428,306429,2021-05-29,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0,"(Netherlands, Zuid-Holland)"

In [29]:
df.groupby('Country/Region')['Province/State'].count()[:50]

Country/Region
 Azerbaijan                     0
('St. Martin',)                 0
Afghanistan                     0
Albania                         0
Algeria                         0
Andorra                         0
Angola                          0
Antigua and Barbuda             0
Argentina                       0
Armenia                         0
Aruba                           0
Australia                    3785
Austria                         1
Azerbaijan                      0
Bahamas                         0
Bahamas, The                    0
Bahrain                         0
Bangladesh                      0
Barbados                        0
Belarus                         0
Belgium                      2388
Belize                          0
Benin                           0
Bhutan                          0
Bolivia                         0
Bosnia and Herzegovina          0
Botswana                        0
Brazil                      10144
Brunei                          0
Bulgaria                        0
Burkina Faso                    0
Burma                           0
Burundi                         0
Cabo Verde                      0
Cambodia                        0
Cameroon                        0
Canada                       6960
Cape Verde                      0
Cayman Islands                  0
Central African Republic        0
Chad                            0
Channel Islands                 0
Chile                        6375
China                          48
Colombia                    12419
Comoros                         0
Congo (Brazzaville)             0
Congo (Kinshasa)                0
Costa Rica                      0
Croatia                         0
Name: Province/State, dtype: int64

In [14]:
df_lat_long.groupby('Country/Region')['Province/State'].nunique()

Country/Region
Australia          8
Canada            16
China             34
Denmark            2
France            11
Netherlands        4
United Kingdom    11
Name: Province/State, dtype: int64

In [16]:
df_nonull.groupby('Country/Region')['Province/State'].nunique()

Country/Region
Australia          12
Austria             1
Belgium            12
Brazil             28
Canada             22
Chile              17
China               1
Colombia           34
Denmark             3
France             13
Germany            18
Hong Kong           1
India              38
Iraq                1
Israel              1
Italy              21
Japan              49
Lebanon             1
Macau               1
Mainland China     32
Mexico             33
Netherlands        18
Others              2
Pakistan            7
Peru               26
Russia             83
Spain              20
Sweden             21
Taiwan              1
UK                 19
US                199
Ukraine            27
Name: Province/State, dtype: int64

In [34]:
df_nonull.shape

(228329, 8)

In [36]:
df_confirmed = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\time_series_covid_19_confirmed.csv')
df_confirmed_us = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\time_series_covid_19_confirmed_US.csv')
df_death = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\time_series_covid_19_deaths.csv')
df_death_us = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\time_series_covid_19_deaths_US.csv')
df_recovered = pd.read_csv(r'C:\Users\mengh\plotly dash covid app\COVID-dashboard\dataset\time_series_covid_19_recovered.csv')

In [39]:
## all the rest of the .csv files are summarized by the first .csv 
## Only with the addition of lat and long information of each cities

In [38]:
df_confirmed.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
count,274.000000,274.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,...,2.760000e+02,2.760000e+02,2.760000e+02,2.760000e+02,2.760000e+02,2.760000e+02,2.760000e+02,2.760000e+02,2.760000e+02,2.760000e+02
mean,20.447559,22.328281,2.018116,2.373188,3.409420,5.192029,7.673913,10.605072,20.210145,22.344203,...,5.984867e+05,6.007543e+05,6.028478e+05,6.045727e+05,6.062187e+05,6.081457e+05,6.102044e+05,6.122130e+05,6.140244e+05,6.157665e+05
std,25.189838,74.369096,26.781738,26.879567,33.464159,46.575328,65.089830,87.699030,215.201418,216.521511,...,2.797198e+06,2.808982e+06,2.819859e+06,2.828976e+06,2.837786e+06,2.847660e+06,2.857958e+06,2.867378e+06,2.875765e+06,2.883996e+06
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.933349,-22.036550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.316250e+03,1.316250e+03,1.316250e+03,1.316250e+03,1.316250e+03,1.316250e+03,1.328250e+03,1.335000e+03,1.346250e+03,1.351500e+03
50%,21.607879,20.921188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.869000e+04,1.888950e+04,1.897900e+04,1.899650e+04,1.901950e+04,1.904750e+04,1.907100e+04,1.909950e+04,1.913300e+04,1.916150e+04
75%,40.950592,83.380449,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.504960e+05,2.512458e+05,2.518208e+05,2.522262e+05,2.525150e+05,2.527770e+05,2.530820e+05,2.533535e+05,2.535725e+05,2.540952e+05
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,3.305676e+07,3.308511e+07,3.310488e+07,3.311774e+07,3.314366e+07,3.316642e+07,3.319047e+07,3.321800e+07,3.323996e+07,3.325194e+07